# 기본 PyPI 인덱스로 변경
--index-url https://pypi.org/simple
pydantic==2.9.2
pydantic-core==2.23.4
pydantic-settings==2.5.2

# Audio processing
numpy==1.26.4
soundfile==0.12.1
librosa==0.10.1
ffmpeg-python==0.2.0

# VLLM
vllm==0.7.1


# LangChain
langchain==0.3.18
langchain-community==0.3.17
langchain-openai==0.2.14
langchain-teddynote==0.0.37
langchain-huggingface==0.1.2

# YouTube
yt-dlp==2025.2.19

# fastapi
fastapi==0.115.4
uvicorn==0.34.0

# Utilities
tiktoken==0.8.0
tqdm==4.66.5

# CUDA/GPU dependencies
faiss-gpu-cu12==1.8.0

# HTTP client
requests==2.31.0
urllib3==2.2.3

# faster-Whisper
ctranslate2==4.4.0
pyannote.audio==3.3.2

# tokenizers의 충돌을 피하기 위해 특정 버전 제거 (transformers와의 호환성을 유지하기 위함)
faster-whisper @ https://github.com/SYSTRAN/faster-whisper/archive/refs/heads/master.tar.gz

# SentenceTransformer
sentence-transformers==3.4.1